// Styling for the planning section
#planning{
    .web{
        display:block;
       }
     
      .mobile{
       display:none;
      }
     
     @media (max-width: 640px) and (min-width: 320px){
       .web{
        display:none;
       }
     
       .mobile{
        display:block;
       }
     }   
}
